html {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-family: 'Merriweather'; */
  font-weight: 700;
}

body {
  height: 100%;
  position: relative;
  font-family: 'Source Sans Pro';
  font-weight: 300;
  background-color: black;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0;
  z-index: -1;
}

.masthead {
  position: relative;
  overflow: hidden;
  padding-bottom: 3rem;
}

.masthead .masthead-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 46, 102, 0.8);
  /* background-color: rgba(1, 50, 32, 0.8); */
  transform: skewY(4deg);
  transform-origin: bottom right;
}

.masthead .masthead-content h1 {
  font-size: 2.5rem;
}

.masthead .masthead-content p {
  font-size: 1.2rem;
}

.masthead .masthead-content p strong {
  font-weight: 700;
}

.masthead .masthead-content .input-group-newsletter input {
  font-size: 1rem;
  padding: 1rem;
}

.masthead .masthead-content .input-group-newsletter button {
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 1rem;
}

@media (min-width: 768px) {
  .masthead {
    height: 100%;
    width: 40.5rem;
    padding-bottom: 0;
  }
  .masthead .masthead-bg {
    transform: skewX(-8deg);
    transform-origin: top right;
  }
  .masthead .masthead-content {
    padding-left: 3rem;
    padding-right: 10rem;
  }
  .masthead .masthead-content h1 {
    font-size: 3.5rem;
  }
  .masthead .masthead-content p {
    font-size: 1.3rem;
  }
}

.social-icons ul {
  margin-top: 2rem;
}

.social-icons ul > li {
  margin: 1rem;
  display: inline-block;
}

.social-icons ul > li > a {
  display: block;
  color: white;
  background-color: #003049;
  /* opacity: 0.8; */
  border-radius: 100%;
  font-size: 2rem;
  line-height: 4rem;
  height: 4rem;
  width: 4rem;
}

@media (min-width: 768px) {
  .social-icons {
    position: absolute;
    right: 2.5rem;
    bottom: 2rem;
  }
  .social-icons ul {
    margin-top: 0;
  }
  .social-icons ul > li {
    display: block;
    margin: 2rem;
  }
  .social-icons ul > li > a {
    transition: all 0.2s ease-in-out;
    font-size: 2rem;
    line-height: 4rem;
    height: 4rem;
    width: 4rem;
  }
  .social-icons ul > li > a:hover {
    background-color: #fc654d;
    border: #003049 solid 3px;
    height: 4.3rem;
    width: 4.3rem;
  }
}

.btn-secondary {
  background-color: #fc654d;
  border-color: #fc654d;
}

.btn-secondary:active, .btn-secondary:focus, .btn-secondary:hover {
  background-color: #ba7c37 !important;
  border-color: #ba7c37 !important;
}

.input {
  font-weight: 300 !important;
}

a {
  color: #fc654d;
}

a:hover {
  color: white!important;
}

#booking-button {
  background-color: #fc654d;
  color: white;
  min-width: 250px;
  min-height: 50px;
  font-size: large;
  border-radius: 10px;
  border: black solid 3px;
  outline: none;
}

#booking-button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}